

{% extends "site_base.html" %}
{% load staticfiles %}

{% block body_base %}

    <h1 style="text-align: center;"> Emotional Face Image Rating Task</h1>
    <div style="text-align: center; font-size: x-large;">
      <br>      
      <br>
      {{errorMessage}}
      <br>
      <br>
      <br>
    </div>

{% endblock %}

{% block footer %}
		<div>
		<p style="margin:auto;width:100%;text-align:center;">Do not refresh the page</p>	
		<p style="margin:auto;width:100%;text-align:center;">Bishop Lab, UC Berkeley 2016</p>	
		</div>

{% endblock %}




